<div class="table-bordered">
  <h3>User details</h3>
  <div class="table-bordered">
    Name: <%= @user.name %>
    <div class='row'> &nbsp;</div>
    <div class="table-bordered">
      <h6>Albums</h6>
      <% @user.albums.each do |_album| %>
        <div class="well well-small">
          <p> Album Name: <%= _album.name %> </p>

          <%= render partial: 'images/image', collection: _album.images %>
        </div>
      <% end -%>

    </div>
  </div>
</div>

<%= link_to 'back to all users', users_path %> |
<%= link_to 'edit user', edit_user_path( @user), class: "icon-user"%>